<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>OLookinho Meu</title>
  </head>
<body>
<div class="login">
  <h1> OooLokinho </h1>

  <div class="login">
    <a th:href="@{/pecas-de-roupa}" class="btn btn-primary btn-sm mb-3 "> Lista de Pecas de Roupa </a>
    <a th:href="@{/looks}" class="btn btn-primary btn-sm mb-3 "> Lista de Looks </a>
  </div>
</div>
</body>
</html>