<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h1>Editar Peca de Roupa</h1>
      <form
        class="form"
        id="editarPecaDeRoupa"
        action="#"
        th:action="@{/pecas-de-roupa/edit/{id}(id=${id})}"
        th:object="${pecaDeRoupa}"
        method="PUT"
        enctype="multipart/form-data"
      >
        <div>
          <label for="nome">nome:</label>
          <input
            type="text"
            th:field="*{nome}"
            th:value="${nome}"
            id="nome"
            name="nome"
            placeholder="Nome da Peca de Roupa"
            class="form-control mb-4 col-4"
            required
          />
        </div>
        <div>
          <label for="tipo_peca_de_roupa">tipo_peca_de_roupa:</label>
          <select
            id="tipo_peca_de_roupa"
            th:field="*{tipo}"
            th:value="${tipo}"
            form="cadastrarPecaDeRoupa"
            name="tipo"
          >
            <option value="Superior">Superior</option>
            <option value="Inferior">Inferior</option>
            <option value="Calcado">Calcado</option>
          </select>
        </div>
        <div>
          <label for="imagem">imagem:</label>
          <input
            type="file"
            id="imagem"
            th:field="*{nomeImagem}"
            th:value="${imagem}"
            accept="image/*"
            name="imagem"
            onchange="previewImage(event)"
          />
        </div>

        <div id="imagePreview"></div>
        
        <input type="hidden" th:field="*{id}">

        <button type="submit" class="btn btn-info col-2 mt-2">Salvar alterações</button>
        <button class="btn btn-outline-info col-2 mt-2" onclick="window.history.back()"> Voltar</button>

        
    </form>

      <script type="text/javascript">
        function previewImage(event) {
          var preview = document.getElementById('imagePreview');
          preview.innerHTML = '';
          if (event.target.files && event.target.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              var img = document.createElement('img');
              img.src = e.target.result;
              img.setAttribute('style', 'max-width: 300px; max-height: 300px;');
              preview.appendChild(img);
            };
            reader.readAsDataURL(event.target.files[0]);
          }
        }
      </script>
    </div>
  </body>
</html>
